/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
    background-color: #d2d7df;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: #3f4045;
}
h1 {
  font-size: 50px;
  font-weight: 700;
}
a {
    color: #02111b;
}
a:hover, a:focus {
    text-decoration: none;
    color: white;
}
a:visited {
  color: #33535f;
} 
a:active {
    color: #5171a5;
  }
button {
    border: none;
    display:inline-block;
    font-family: inherit;
    background-color: #33535f;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }
.button {
    border: none;
    display:inline-block;
    font-family: inherit;
    background-color: #33535f;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }
  button:hover, button:focus,
  .button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.8;
  }
.profile__portrait {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}
.page__footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.main {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.main__index {
  max-width: 700px;
  margin: 0 auto;
}
.main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}
.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}
.page-header__item:first-child {
  width: 200px;
  height: 60px;
}
.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}
.nav--list {
  list-style-type: none;
}
.nav--list li {
  display: inline-block;
  margin-left: 15px;
}
.nav--list__item {
  font-size: 16px;
  -webkit-transition: font-size 0.8s;
  -o-transition: font-size 0.8s;
  transition: font-size 0.8s;
}
.nav--list__item:hover {
  font-size: 20px;
}
.nav--list__item--active {
  text-decoration: none;
}
table {
  table-layout: auto;
  float: right;
  padding: 10px;
  background-color: #e7e8e5;
  border-radius: 20px;
  border: 3px solid #33535f;
}
th {
  background-color: #d2d7df;
  padding: 5px;
  border-radius: 10px;
  text-decoration: underline;
}
td {
  background-color: #d2d7df;
  border-radius: 10px;
  text-align: center;
}
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 20px 350px;
  grid-template-columns: 350px 350px;
  grid-gap: 20px;
}
.grid__item {
  background-color: #e7e8e5;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  border: 3px solid #33535f;
}
form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 16px 1fr;
  grid-template-columns: 200px 1fr;
  grid-gap: 16px;
  background-color: #e7e8e5;
  padding: 20px;
  border-radius: 20px;
  border: 3px solid #33535f;
}
form, label {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}
form, input {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}
#attribution {
  font-size: 8px;
}
#svg1 {
  margin-top: 15px;
}
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  }
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
@-webkit-keyframes color-change {
  0% {
    fill: #fcffad;
  }
  50% {
    fill: #fde3e9;
  }
  100% {
    fill: #fff;
  }
}
@keyframes color-change {
  0% {
    fill: #fcffad;
  }
  50% {
    fill: #fde3e9;
  }
  100% {
    fill: #fff;
  }
}
.light {
  -webkit-animation: 8s color-change infinite alternate linear;
          animation: 8s color-change infinite alternate linear;
}
/*
@keyframes hover-color-change {
  0% {
    color: var(--blue-color);
  }
  50% {
    color: var(--yellow-color);
  }
  100% {
    color: var(--green-color);
  }
}
.hover {
  animation: 0.8 hover-color-change 1 normal linear;
}*/
/*Not working with svg*/
/*
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.cloud #path7 {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes star-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
.star-upper {
  animation: 2s star-spin infinite;
}
.star-lower {
  animation: 2s star-spin infinite;
}
*/